.media {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 1em;
    margin-block: 2em;
    //   padding: 1em;
    > div {
        border: 0.1em solid black;
        padding: 0.3em;
        display: flex;
        flex-direction: column;
        gap: 1em;
        // justify-self: center;
        img {
            width: 100%;
            //   outline: 2px solid red;
        }
    }
    .news {
        display: flex;
        flex-direction: column;

        gap: clamp(1em, 2vi, 2em);

        align-items: center;
        border: none;
        .video {
            display: flex;
            flex-direction: column;

            align-items: center;
            video {
                source {
                    width: 16em;
                }
                //
                width: 16.5em;
            }
            .para {
                padding-block: 1em;
                background-color: #344b9b;
                color: white;
                // outline: 2px solid red;
                width: 16.5em;
                text-align: center;

                p {
                    font-size: clamp(1rem, 1.5vi, 1.5rem);
                    font-weight: 600;
                }
            }
        }
    }
}
