.vision {
    .content1 {
        // outline: 2px solid red;
        display: flex;
        justify-content: center;
        background-color: #1e709c;
        p {
            color: white;
            // outline: 2px solid red;
            text-align: center;
            width: min(40em, 80%);
            font-weight: 500;
        }
    }
    .content2 {
        // outline: 2px solid red;
        background-color: #1ea7dd;
        padding-block: 4em;
        > div {
            display: flex;
            flex-direction: column;
            gap: 2em;
            text-align: center;
            color: white;
            h3 {
                font-size: clamp(1rem, 1.8vi, 1.8rem);
            }
            > :nth-child(4) {
                color: #0e0e0e;
                font-weight: 600;
            }
        }
    }
}
